node_modules
dist
build
.git
.gitignore

# Environment
.env
.env.*
!.env.example

# IDE
.idea
.vscode

# Logs
logs
*.log

# Tests
coverage
.nyc_output

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose*.yml

# Uploads
uploads

# Temp
tmp
temp
